doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="assets/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")

  body(ng-app="tutHub")
    section(ng-include="'views/navbar.html'", ng-controller="AuthCtrl as auth")
    section(ng-include="'views/topics.html'", ng-controller="TopicCtrl as topic")
    div.container.holder
        div(ng-view)

    <!--build.js-->
    script(src="lib/build.js")

    <!--main-->
    script(src="assets/scripts/app.js")

    <!--controlllers-->
    script(src="assets/scripts/controllers/auth.controller.js")
    script(src="assets/scripts/controllers/bookmark.controller.js")
    script(src="assets/scripts/controllers/comments.controller.js")
    script(src="assets/scripts/controllers/newtopic.controller.js")
    script(src="assets/scripts/controllers/newtutorial.controller.js")
    script(src="assets/scripts/controllers/register.controller.js")
    script(src="assets/scripts/controllers/topic.controller.js")
    script(src="assets/scripts/controllers/tutorial.controller.js")

    <!--factories-->
    script(src="assets/scripts/factories/auth.factory.js")
    script(src="assets/scripts/factories/bookmark.factory.js")
    script(src="assets/scripts/factories/comment.factory.js")
    script(src="assets/scripts/factories/topic.factory.js")
    script(src="assets/scripts/factories/tutorial.factory.js")
