doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="assets/main.css")
  body(ng-app="tutHub")
    section(ng-include="'views/navbar.html'")
    section(ng-include="'views/topics.html'", ng-controller="TopicCtrl as topic")
    div.container.holder
        div(ng-view)

    <!--build.js-->
    script(src="lib/build.js")

    <!--main-->
    script(src="assets/scripts/app.js")

    <!--controlllers-->
    script(src="assets/scripts/controllers/topic.controller.js")
    script(src="assets/scripts/controllers/newtopic.controller.js")
    script(src="assets/scripts/controllers/tutorial.controller.js")
    script(src="assets/scripts/controllers/newtutorial.controller.js")

    <!--factories-->
    script(src="assets/scripts/factories/topic.factory.js")
    script(src="assets/scripts/factories/tutorial.factory.js")
