#nav-mobile {
  margin-right: 10px;
}

.add-tut-button {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.bk-src {
  width: 200px;
}

.count-column {
  text-align: center;
  width: 70px;
}

.count-row {
  text-align: center;
}

.del-button-td a {
  visibility: hidden;
  font-size:18px;
}

.del-button-td:hover a {
  visibility: visible;
  position: relative;
  bottom: 55px;
  left:8px;
  color: black;
}

.del-x {
  width: 40px;
}

.edit, .delete {
  padding-left: 10px;
  padding-right: 10px;
}

.edit-delete-td {
  position: relative;
  left: 25px;
}

.home-title {
  text-align: center;
  top: 40%;
  position: absolute;
  left: 50%;
  opacity: .5;
}

.mdi-github-circle {
  margin-right: 5px;
}

.mdi {
  font-size: 24px;
}

.pointer {
  cursor: pointer;
}

td {
  font-size: 16px;
}

/* universal */

.holder {
  margin-left: 300px;
}

/* navbar */

.tuthub-logo {
  margin-left: 250px;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

/* tutorial list view page */

.upvote {
  display: inline;
  margin-left: 10px;
}

/* profile page */

.delete-btn {
  margin-left: 10px;
}

/* create tutorial form */

.tutform, .comments-container {
  margin-top: 50px !important;
}

/* bookmark page */

.delete {
  margin-left: 10px;
}

.bookmark-td {
  width: 80px;
}

/* topics list */

.topics {
  font-size: 18px;
  font-weight: 400;
}
