h3(ng-show="bookmark.bookmarks.length !== 0") Bookmarks
div(ng-if="bookmark.bookmarks.length == 0")
  h3 There aren't any bookmarks yet!
ul.collection(ng-show="bookmark.bookmarks.length !== 0")
  table.tutlist.table.bordered.centered
    thead
      tr
        th Title
        th Domain
    tr(ng-repeat="(id, b) in bookmark.bookmarks")
      td
        a(target="_blank" ng-href="{{b.url}}") {{b.name}}
      td
        p {{b.domain}}
      td
        i.zmdi.zmdi-delete.zmdi-hc-lg(ng-click="bookmark.removeBookmark(b._id)" icon="delete")

