ul.collection.comments-container
  table
    thead
      tr
        th
        th Title
        th Source
        th Poster
    tr
      td
      td
        a(target="_blank" ng-href="{{comm.tutorial.url}}") {{comm.tutorial.name}}
      td {{comm.tutorial.domain}}
      td {{comm.tutorial.postedBy.username}}

h5 Comments
ul.collection
  li.collection-item(ng-repeat="(id, comment) in comm.comments")
    p {{comment.comment}}
    em
      span Posted by:
        em  {{comment.author}}
    a.secondary-content(ng-show="comm.username === comment.author" ng-click="comm.removeComment(comment._id)") Remove
div.row
  form.col.s12(ng-show="loggedIn")
    div.row
      div(class="input-field col s12")
        textarea#textarea.materialize-textarea(ng-model="comm.commentMessage")
        label(for="textarea") Comment
    a(class="waves-effect waves-light btn" ng-click="comm.postComment()") Post comment
