h3 Profile

h4 Tutorials created

ul.collection
  table.centered
    thead
      tr
        th
        th Title
        th Source
        th
    tr.tutorial(ng-repeat="(id, tutorial) in edit.tutorials  | orderBy:'-count'")
      td
        a {{tutorial.name}}
      td
        p {{tutorial.domain}}
      td
        a Comments
      td
        a.waves-effect.waves-light.btn(ng-click="edit.deleteTut(tutorial._id)") Delete

