h3 Edit

div.row
  form.col.s12.tutform(name="tutform" novalidate)
    div.row
      div.input-field.col.s12
        input(name="title" type="text" ng-model="edit.tutorial.name" required)
        label(for="title") Title
    div.row
      div.input-field.col.s12
        input(name="url" type="url" ng-model="edit.tutorial.url" required)
        label(for="url") URL
  a.waves-effect.waves-light.btn(ng-click="edit.updateTutorial()") Submit updated tutorial
