div.preloader-wrapper.active.loading-spinner
  div.spinner-layer.spinner-red-only
    div.circle-clipper.left
      div.circle
    div.gap-patch
      div.circle
    div.circle-clipper.right
      div.circle
