h3 Login
div.row
  form.col.s12(ng-submit="auth.login()")
    div.row
      div.input-field.col.s12
        input(type="text" class="validate" ng-model="auth.info.username")
        label(for="username") Username
    div.row
      div.input-field.col.s12
        input(type="password" class="validate" ng-model="auth.info.password")
        label(for="password") Password
    input(type="submit" value="Submit")
