nav
  div.nav-wrapper.blue
    a.tuthub-logo(ng-href="#/") TutHub
    ul#nav-mobile.right.hide-on-med-and-down
      li(ng-show="loggedIn")
        a(ng-href="#/edit") Profile
      li(ng-show="loggedIn")
        a(ng-href="#/bookmarks") Bookmarks
      li(ng-show="loggedIn")
        a(ng-href="#/topic/new") Create topic
      li(ng-show="loggedIn")
        a(ng-href="#/tutorial/new") Create tutorial
      li(ng-hide="loggedIn")
        a(ng-href="#/register") Sign up
      li(ng-hide="loggedIn")
        a(ng-href="#/login") Login
      li(ng-show="loggedIn", ng-click="auth.logout()") Logout
