form(name="topicform" novalidate)
  h2 Create a topic
  div.form-group
    label.control-label Topic
    input.form-control(type="text" name="title" ng-model="newtopic.topic.name" required)
  button.btn.btn-primary(ng-click="newtopic.saveTopic()" ng-disabled="topicform.$invalid") Submit
  button.btn.btn-danger(ng-click="newtopic.goback()") Cancel
