div.preloader-wrapper.active.loading-spinner(ng-show="profile.loading")
  div.spinner-layer.spinner-red-only
    div.circle-clipper.left
      div.circle
    div.gap-patch
      div.circle
    div.circle-clipper.right
      div.circle

div(ng-hide="profile.loading")
  h3 Profile

  div(ng-if="profile.tutorials.length == 0")
    h3 You haven't created any tutorials.

  div(ng-show="profile.tutorials.length !== 0")
    h4 Tutorials created
    ul.collection
      table.centered
        thead
          tr
            th Title
            th Source
            th Category
            th
        tr.tutorial(ng-repeat="(id, tutorial) in profile.tutorials  | orderBy:'-count'")
          td
            a(target="_blank" ng-href="{{tutorial.url}}") {{tutorial.name}}
          td
            p {{tutorial.domain}}
          td
            a {{tutorial.topic.name}}
          td
            a.waves-effect.waves-light.btn(ng-href="#/profile/{{tutorial.topic.name}}/{{tutorial._id}}") Edit
            a.waves-effect.waves-light.btn.delete-btn(ng-click="profile.deleteTut(tutorial._id)") Delete

