h3 Register
div.row
  form.col.s12(ng-submit="register.signup()")
    div.row
      div.input-field.col.s12
        input#email(type="text" class="validate" ng-model="register.info.username")
        label(for="username") Username
    div.row
      div.input-field.col.s12
        input(type="password" class="validate" ng-model="register.info.password")
        label(for="password") Password
    input(type="submit" value="Submit")
