ul#slide-out.side-nav.fixed.collection
  nav
    div.nav-wrapper.blue
      form
        .input-field
          input#search(type="search", ng-model="name")
          label(for="search")
            i.mdi.mdi-magnify
  ul
    li(ng-repeat="topic in topic.topics")
      p {{topic}}
