ul#slide-out.side-nav.fixed.collection.topics
  nav
    div.nav-wrapper.blue
      form
        .input-field
          input#search(type="search", ng-model="name")
          label(for="search")
            i.zmdi.zmdi-search
  ul
    li(ng-repeat="(id, t) in topic.topics | orderBy: 'name' | filter: name")
      p(ng-click="topic.goToTut(t.name)") {{t.name}}
