h3 {{tut.currentTutorial}}
ul.collection
  table.tutlist.table.bordered.centered
    thead
      tr
        th Title
        th
        th
    tr.tutorial(ng-repeat="(id, tutorial) in tut.tutorials  | orderBy:'-count'")
      td
        a(target="_blank" ng-href="{{tutorial.url}}") {{tutorial.name}}
      td
        a(ng-href="#/topic/{{tutorial._id}}/comments") Comments
      td(ng-click="tut.addToBookmarks(tutorial._id, tutorial.name, tutorial.url)")
        i(ng-class="{ 'zmdi zmdi-bookmark-outline zmdi-hc-lg' : tut.bIds.indexOf(tutorial._id) === -1 , 'zmdi zmdi-bookmark zmdi-hc-lg' : tut.bIds.indexOf(tutorial._id) !== -1 }")
